// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';


//PCサイズ
.maincontainer {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(182, 201, 201);
}

.maincontainer-item{
  width: 900px;
  height: 250px;
  
  
  background-color: rgb(255, 213, 196);
}

.top {
  width: 900px;
  height: 250px;
  background-color: bisque;
  margin-left: auto;
  margin-right: auto;
}
//income/expense
.table {
  color: red;
}

.form-container{
  display: flex;
  justify-content: center;
}

//list.js
.list-container{
  display: flex;
  background-color: aqua;
  width: 70vw;
  height: 70vh;
  margin-left: auto;
  margin-right: auto;
}

.income-list{
  background-color: rgb(197, 136, 23);
  width: 35vw;
  height: 35vh;
}


.expense-list{
  background-color: rgb(197, 136, 23);
  width: 35vw;
  height: 35vh;
}


//income.js 20~23
.income-item{
  display: flex;
}

//スマホサイズ
@media screen and (max-width: 480px) { 


.maincontainer {
  width: 480px;
  padding-right: 15px;
  padding-left: 15px;
  
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(30, 105, 105);
}

.maincontainer-item{

}

.top {
  width: 350px;
  height: 250px;
  background-color: bisque;
  margin-left: auto;
  margin-right: auto;
}
//income/expense
.table {
  color: rgb(25, 0, 255);
}

.form-container{
  display: flex;
  justify-content: center;
  width: 450px;
}

//list.js
.list-container{
  background-color: rgb(128, 62, 42);
  display: block;
  width: 70vw;
  height: 40vh;
}

.income-list{
  height: 240px;
  width: 100%;
  margin: 2em 0;
  font-weight: bold;


}
.income-list-item{
  
  border: solid 4px #eef1f5;/*線*/
  border-radius: 15px;/*角の丸み*/
  height: 230px;
  margin: 0; 
  padding: 0;
  text-align: center;
  
}



.expense-list{
  height: 240px;
  width: 100%;
  margin: 2em 0;
  font-weight: bold;
}

.expense-list-item{
  
  border: solid 4px #eef1f5;/*線*/
  border-radius: 15px;/*角の丸み*/
  height: 230px;
  margin: 0; 
  padding: 0;
  text-align: center;
  
}

//listのヘッダ部分
.thead-dark{
  width: 100%;
  height: 50px;
  background-color: rgb(150, 234, 245);
  border-radius: 8px 10px 0 0;/*角の丸み*/
  margin: 0; 
  padding: 0;
}

//income.js 20~23
.income-item{
  display: flex;
}

}

