// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';



//PCサイズ

body {
  margin: initial;  /* 0 */
  font-size: initial;  /* 100% */
  font-weight: initial;  /* normal */
}

p {
  margin-top: 10px;
}
h5 {
  margin: initial;  /* 0 */
  font-size: initial;  /* 100% */
  font-weight: initial;  /* normal */
  margin-top: 13px;
  margin-right: 250px;
  position: absolute;
}

.header {
  width: 100%;
  height: 70px;
  background-color: #f44355;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.maincontainer {
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

.maincontainer-item{
  width: 900px;
  height: 250px;
}

.top {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;;
  background: radial-gradient(#5588ca, #aad1ca);
}

.head {
  width: 70%;
  margin: 0 auto;
  color: #eef1f5;
}


.showMonth {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height:60px;
  padding-top: 15px;
}

.today{
  font-weight: bold;
  font-size: 40px;
}

//income/expense
.table {
  color: rgb(63, 58, 58);
  margin: 30px 20px 20px 30px;
}


//残高
.balancecontainer {
  width: 100%;
  height: 170px;
  margin-top: 20px;
  line-height: 40px;
  color: #eef1f5;
}

.balance-list {
  width: 15%;
  margin: 0 auto;
  margin-top: 50px;
}

.balance-item{
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

//収支・支出の合計
.inc-exp-container{
  height: 50px;
  display: flex;
  justify-content: center;
}

.inc-container{
  width: 350px;
  border-radius: 10px;/*角の丸み*/
  display: flex;
  justify-content: space-around;
  background-color: #82eb94;
  position:relative
}

.left {
  width: 250px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 8px;
  color: #eef1f5;
}

.income-total {
  height: 30px;
  font-size: 20px;
}
.income-total span{

}

.exp-container{
  width: 350px;
  margin-left: 40px;
  display: flex;
  border-radius: 10px;/*角の丸み*/
  justify-content: space-around;
  background-color: #eb5034;
  position: relative;
}

.right {
  width: 250px;
  margin-top: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #eef1f5;
}

.expense-total {
  height: 30px;
  font-size: 20px;
}

.expense-total span{
  
}

.totalPercentage {
  height: 20px;
  text-align: center;
  background-color: #b93622;
  border-radius: 3px;/*角の丸み*/
  font-size: 13px;
  text-align: center;
  position: absolute;
  top:15px;
  right: 5px;

}


//Form
.form-container{
  background-color: #DDDDDD	;
}

.row {
  margin-top: 15px;
}
.form-row{
  margin-top: 23px;
  margin-left: 5px;
}


//income/expenseの中身を管理するテーブル
.tbody {
  margin-top: 60px;
}

.form-container{
  display: flex;
  justify-content: center;
  height: 100px;
}

//list.js
.list-container{
  display: flex;
  justify-content: center;
  height: 60vh;
  margin-left: auto;
  margin-right: auto;
  background-color: #EEEEEE;
}

.income-list{
  width: 35%;
  margin: 2em 2em;
  font-weight: bold;
  position: relative;
}

.income-list-item{
  border: solid 4px #3f51b5;/*線*/
  border-radius: 15px;/*角の丸み*/
  height: 400px;
  width: 100%;
  margin: 0; 
  padding: 0;
  text-align: center;
  overflow: scroll;  
}


.expense-list{
  width: 35%;
  margin: 2em 2em;
  font-weight: bold;
  position: relative;
}

.expense-list-item{
  border: solid 4px #3f51b5;/*線*/
  border-radius: 15px;/*角の丸み*/
  height: 400px;
  width: 100%;
  margin: 0; 
  padding: 0;
  text-align: center;
  overflow: scroll;
  
}

//listのヘッダ部分
.thead-dark{
  width: 100%;
  height: 50px;
  background-color: #3f51b5;
  border-radius: 8px 10px 0 0;/*角の丸み*/
  margin: 0; 
  padding: 0;
  position: absolute;
  color: #eef1f5;
}

//income.js 20~23
.income-item{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px; 
  border-bottom: solid 2px #82aaeb;
}

.income-item-text {
  margin-left: 20px;
  text-align: center;
}

.income-item-amount {
  color: #4fa05e;
}

.expense-item-amount {
  color: red;
}




//スマホサイズ
@media screen and (max-width: 480px) { 


.maincontainer {
  width: 480px;
  padding-right: 15px;
  padding-left: 15px;
  
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(30, 105, 105);
}

.maincontainer-item{

}

.top {
  width: 350px;
  height: 250px;
  background-color: bisque;
  margin-left: auto;
  margin-right: auto;
}
//income/expense
.table {
  color: rgb(25, 0, 255);
}

.form-container{
  display: flex;
  justify-content: center;
  width: 450px;
}

//list.js
.list-container{
  background-color: rgb(128, 62, 42);
  display: block;
  width: 70vw;
  height: 40vh;
}

.income-list{
  height: 240px;
  width: 100%;
  margin: 2em 0;
  font-weight: bold;


}
.income-list-item{
  border: solid 4px #eef1f5;/*線*/
  border-radius: 15px;/*角の丸み*/
  height: 230px;
  width: 100%;
  margin: 0; 
  padding: 0;
  text-align: center;
  
}



.expense-list{
  height: 240px;
  width: 100%;
  margin: 2em 0;
  font-weight: bold;
}

.expense-list-item{
  
  border: solid 4px #eef1f5;/*線*/
  border-radius: 15px;/*角の丸み*/
  height: 230px;
  width: 100%;
  margin: 0; 
  padding: 0;
  text-align: center;
  
}

//listのヘッダ部分
.thead-dark{
  width: 100%;
  height: 50px;
  background-color: rgb(150, 234, 245);
  border-radius: 8px 10px 0 0;/*角の丸み*/
  margin: 0; 
  padding: 0;
}

//income.js 20~23
.income-item{
  display: flex;
}

}

