@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";

body {
  margin: initial;
  /* 0 */
  font-size: initial;
  /* 100% */
  font-weight: initial;
  /* normal */
}

.maincontainer {
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: #36cfee;
}

.maincontainer-item {
  width: 900px;
  height: 250px;
  background-color: #ffd5c4;
}

.top {
  width: 100%;
  height: 250px;
  background-color: bisque;
  margin-left: auto;
  margin-right: auto;
}

.head {
  width: 70%;
  margin: 0 auto;
}

.showMonth {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.table {
  color: #3f3a3a;
  margin: 20px 20px 20px 20px;
}

.tbody {
  margin-top: 60px;
}

.form-container {
  display: flex;
  justify-content: center;
}

.list-container {
  display: flex;
  width: 70vw;
  height: 70vh;
  margin-left: auto;
  margin-right: auto;
}

.income-list {
  height: 240px;
  width: 100%;
  margin: 2em 2em;
  font-weight: bold;
  position: relative;
}

.income-list-item {
  border: solid 4px #eef1f5;
  /*線*/
  border-radius: 15px;
  /*角の丸み*/
  height: 350px;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: scroll;
}

.expense-list {
  height: 240px;
  width: 100%;
  margin: 2em 2em;
  font-weight: bold;
  position: relative;
}

.expense-list-item {
  border: solid 4px #eef1f5;
  /*線*/
  border-radius: 15px;
  /*角の丸み*/
  height: 350px;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: scroll;
}

.thead-dark {
  width: 100%;
  height: 50px;
  background-color: #96eaf5;
  border-radius: 8px 10px 0 0;
  /*角の丸み*/
  margin: 0;
  padding: 0;
  position: absolute;
}

.income-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
  .maincontainer {
    width: 480px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #1e6969;
  }

  .top {
    width: 350px;
    height: 250px;
    background-color: bisque;
    margin-left: auto;
    margin-right: auto;
  }

  .table {
    color: #1900ff;
  }

  .form-container {
    display: flex;
    justify-content: center;
    width: 450px;
  }

  .list-container {
    background-color: #803e2a;
    display: block;
    width: 70vw;
    height: 40vh;
  }

  .income-list {
    height: 240px;
    width: 100%;
    margin: 2em 0;
    font-weight: bold;
  }

  .income-list-item {
    border: solid 4px #eef1f5;
    /*線*/
    border-radius: 15px;
    /*角の丸み*/
    height: 230px;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .expense-list {
    height: 240px;
    width: 100%;
    margin: 2em 0;
    font-weight: bold;
  }

  .expense-list-item {
    border: solid 4px #eef1f5;
    /*線*/
    border-radius: 15px;
    /*角の丸み*/
    height: 230px;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .thead-dark {
    width: 100%;
    height: 50px;
    background-color: #96eaf5;
    border-radius: 8px 10px 0 0;
    /*角の丸み*/
    margin: 0;
    padding: 0;
  }

  .income-item {
    display: flex;
  }
}

