@import url(https://fonts.googleapis.com/css?family=Nunito);.maincontainer {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #b6c9c9;
}

.maincontainer-item {
  width: 900px;
  height: 250px;
  background-color: #ffd5c4;
}

.top {
  width: 900px;
  height: 250px;
  background-color: bisque;
  margin-left: auto;
  margin-right: auto;
}

.table {
  color: red;
}

.form-container {
  display: flex;
  justify-content: center;
}

.list-container {
  display: flex;
  background-color: aqua;
  width: 70vw;
  height: 70vh;
  margin-left: auto;
  margin-right: auto;
}

.income-list {
  background-color: #15ff00;
  width: 35vw;
  height: 35vh;
}

.expense-list {
  background-color: #c58817;
  width: 35vw;
  height: 35vh;
}

.income-item {
  display: flex;
}

